porechop=0.2.4
filtlong=0.2.1
minimap2=2.24
samtools=1.16
bcftools=1.16
flye=2.9.1
shasta=0.11.1
bbmap=39.01
ete3=3.1.2
pysam=0.20.0
bandage=0.8.1
parsnp=1.7.4
harvesttools=1.2
raxml=8.2.12
fasttree=2.1.11
psutil=5.9.4
pandas=1.5.3
rebaler=0.2.0
snippy=4.6.0
phame=1.0.3
mummer=3.23
bowtie2=2.5.1
bwa=0.7.17
perl-bioperl=1.7.8
perl=5.32.1
